.form {
  display: flex;
}

.backButtonForm {
  position: absolute;
  right: 0px;
}

.btnSubmit {
  position: absolute;
}

.btnNewMovie {
  margin: 5px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footerText {
  font-size: 10px;
}
